@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&family=Work+Sans:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: rgb(249 249 255);
    --heading: rgb(0, 10, 45);
    --para: #777;
    --para-tint: #adabab;
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --icon-bg: rgba(144, 172, 209, 0.2);
    --helper-tint: #f3f4ff;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* reusable code */
.heading{
    font-size: 2rem;
    padding-left: 2rem;
    text-transform: capitalize;
}
.heading2{
    font-size: 1.8rem;
    padding-left: 2rem;
    text-transform: capitalize;
}
.para{
    font-size: 1.4rem;
    color: var(--para);
    padding-left: 2rem;
}
.section {
    padding: 5rem 0;
    background-color: var(--bg);
    /* background-color: red; */
}

.grid {
    display: grid;
    gap: 3rem;
}

.grid-one-column {
    grid-template-columns: repeat(1, 1fr);
}

.grid-two-column {
    grid-template-columns: repeat(2, 1fr);
}
.grid-three-column {
    grid-template-columns: repeat(3, 1fr);
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    /* background-color: blue; */
    overflow: hidden;

}
.section-hero-data{
    padding-top: 2rem;
}
.btn{
    width: 11rem;
    height: 3rem;
    border: none;
    outline: none;
    background-color: rgb(57, 91, 225);
    border-radius: 5px;
    color: #fff;
    margin-left: 1.8rem;
}
.btn a{
    color: #fff;
    text-transform: capitalize;
    font-size: 1.6rem;
 
}

/* ///header section starts//// */

.navbar {
    background-color: var(--helper-tint);
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding-left: 5rem;

}

.navbar-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.navbar-lists a {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--heading);
    transition: all 0.3s linear;
}

.navbar-lists a:hover {
    color: var(--para);
}

.navbar-lists .logo-img {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
    border: 1px solid #fff;
    border-radius: 1.5rem;
}
/* ///main section starts//// */

.section-hero-data h2 {
    font-size: 2.5rem;
    margin: 0 2.5rem;
    
}

.section-hero-data p {
    font-size: 1.5rem;
    color: var(--para);
    margin: 0 2.5rem;
    text-transform: capitalize;
}

.bg-container {
    background-color: #fff;
    /* background-color: yellow; */
    height: 45rem;
    border-radius: 2rem;
    position: relative;
    margin: 0 2.5rem;
}

.bg-image {
    width: 140%;
}

.bg-image img {
    width: 71.5%;
    height: 25rem;
    border-radius: 2rem;

}

.img-logo {
    position: absolute;
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    top: 6rem;
    left: 2rem;

}

.img-logo img {
    border: 3px solid #fff;
}

.bg-container h2 {
    font-size: 2.5rem;
    padding: 3rem 3rem
}

.bg-container p {
    font-size: 1.8rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    color: var(--para);
    font-weight: lighter;

}

.fa-circle {
    font-size: 1rem;
}
/* ///project section starts//// */

.project-data{
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
#active-data{
    background-color: var(--helper-tint);
    width: 10rem;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.5rem;
}
.heading span{
    font-size: 1.6rem;
    text-transform: lowercase;
    color: var(--para);
}
/* project div section */
.project-div{
    background-color: var(--helper-tint);
    width: 44rem;
    height: 35rem;
    border-radius: 1rem;
    margin-top: 3rem;
    

}
.project-div-logo{
    width: 4rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.project-div-date{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 1rem;
   
}
.div-date{
    border: 0.2rem dotted var(--para-tint);
    margin-top: 2rem;
    width: 15rem;
    height: 7rem;
    text-align: center;
    padding-top: 2rem;
    border-radius: 1rem;
    
}
.div-date h3{
    text-transform: capitalize;
    font-size: 1.4rem;
}
.div-date p{
    text-transform: capitalize;
    font-size: 1.4rem;
    color: var(--para);
}
.status-bar{
    position: relative;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 35rem;
    height: 0.6rem;
    border-radius: 5px;
    background-color: var(--bg);
}
.status-bar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 0.6rem;
    border-radius: 5px;
    background-color: rgb(96, 96, 240);
}
.logo-div{
    padding-left: 2rem;
    /* background-color: red; */

}
.div-logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    

}
/* ///////footer section starts///// */
.footer-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}
.footer-div p{
    font-size: 1.6rem;
    margin-left: 2rem;

}
.footer-div ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.footer-div ul li a{
    font-size: 1.6rem;
    color: var(--heading);
    text-transform: capitalize;
    padding-right: 1rem;
}


/* //////media queries///// */

@media (max-width:991px) {
    /* navbar section  */
    .navbar {
        background-color: var(--helper-tint);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 8rem;
        padding-left: 5rem;
    
    }
    .navbar-lists1 {
        display: none;
    }
    .navbar-lists2{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3rem;
    }
    .grid-three-column {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:881px) {
    .grid-three-column {
        grid-template-columns: repeat(2, 1fr);
    }
    .project-div{
        background-color: var(--helper-tint);
        width: 35rem;
        height: 35rem;
        border-radius: 1rem;
        margin-top: 3rem;
        
    
    }
    .status-bar{
        position: relative;
        margin-left: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 28rem;
        height: 0.6rem;
        border-radius: 5px;
        background-color: var(--bg);
    }
}

@media (max-width:768px) {
    .grid-three-column {
        grid-template-columns: repeat(2, 1fr);
    }
    .project-data{
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        height: 7rem;
    }
    .project-div{
        background-color: var(--helper-tint);
        width: 27rem;
        height: 35rem;
        border-radius: 1rem;
        margin-top: 3rem;
        
    
    }
    .status-bar{
        position: relative;
        margin-left: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 25rem;
        height: 0.6rem;
        border-radius: 5px;
        background-color: var(--bg);
    }
    .footer-div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 7rem;
    }
}

@media (max-width:400px) {
    .grid-three-column {
        grid-template-columns: repeat(1, 1fr);
    }
    /* section  */
    .section {
        padding: 5rem 0;
        width: 39rem;
        background-color: var(--bg);
        /* background-color: red; */
        overflow: hidden;
    }
    .container {
        max-width: 140rem;
        margin: 0 auto;
        /* background-color: blue; */
        overflow: hidden;
    
    }
    .bg-container {
        background-color: #fff;
        /* background-color: yellow; */
        height: 48rem;
        border-radius: 2rem;
        position: relative;
        margin: 0 2.5rem;
    }
    /* navbar section  */
    .navbar {
        background-color: var(--helper-tint);
        display: flex;
        justify-content:flex-end;
        align-items: center;
        height: 8rem;
        width:39rem;
        padding-left: 5rem;
    
    }
    .navbar-lists2{
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap: 3.5rem;
    }
    /* project section */
    .project-data{
        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction:column;
        height: 7rem;
    }

}

@media (max-width:300px) {
    /* navbar section  */
    .navbar {
        background-color: var(--helper-tint);
        /* background-color: red; */
        display: flex;
        justify-content:flex-end;
        align-items: center;
        height: 8rem;
        width:35rem;
        padding-left: 5rem;
    
    }
    .navbar-lists2{
        display: flex;
        justify-content:space-between;
        align-items: center;
        
    }
    .grid-three-column {
        grid-template-columns: repeat(1, 1fr);
    }
}